.user {
  background-color: #3a0058;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.usar img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #b438f1;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.location svg {
  fill: #b438f1;
  font-size: 1.5rem;
}

.location span {
  color: #d4abff;
  font-weight: bold;
}

.status {
  display: flex;
}

.status div {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.status div:first-child {
  border: 1px solid #b438f1;
}

.status,
.number {
  background-color: #b438f1;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
}

.user a {
  text-align: center;
  background-color: #b438f1;
  padding: 1rem;
  border: 5px;
  opacity: 0.8;
  transition: 0.3s;
}

.user a:hover {
  opacity: 1;
}
